/* место для вашего кода */
.header{
    display: grid;
    position: relative;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding:0;
}
.header_logo{
    display: block;
    align-items: center;
    width: 148px;
    height: 105px;
}   
.header__links-list{
    display: flex;
    gap: 30px;
    list-style: circle;
}
.header__links-list-item_no-bullit {
    list-style: none;

}

.address {
    max-width: 240px;
    justify-self: end;
    
}
.header_logo-image{
    height: 105px;
}
